<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
        <NavLink class="nav-item nav-link" href="">Home</NavLink>

        <NavLink class="nav-item nav-link" href="/products">Products</NavLink>

        <NavLink class="nav-item nav-link" href="#">Category</NavLink>
    </div>
</nav>